<p>
    map works!
</p>
<mat-card>
    <mat-card-title>
        Mapa
    </mat-card-title>
    <mat-card-content>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="agregarMarcador($event)">
            <agm-marker *ngFor="let marcador of marcadores" [latitude]="marcador.lat" [longitude]="marcador.lng">
                <agm-info-window>
                    <strong>
                        {{marcador.titulo}}
                    </strong>
                    <p>{{marcador.descripcion}}</p>
                    <div>
                        <button mat-raised-button color="primary" style="margin-right:10px;" (click)="editarMarcador(marcador)">
                            Editar
                        </button>
                        <button mat-raised-button color="warn" (click)="borrarMarcador(marcador)">
                            Borrar
                        </button>
                    </div>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </mat-card-content>
</mat-card>