/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html body {
    margin: 0px;
}

.main-container {
    margin-top: 10px;
    padding: 10px;
}